@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

:root {
  --white-color: #DFDFDF;
  --background-color: #202020;
  --primary-color-red: #C7140F;
  --primary-color-blue: #2F6FD0;
  --primary-color-green: #2AB31B;


  /*
  --negative-color: #511E00;
  --positive-color: #2B4901;
  --secondary-color: #7E6527;
  --black-color: #080904;
  --black-color-80: rgba(8, 9, 4, 0.8);
  ;
  --white-color-90: #F9FAFC90;
  --btn-color: #CBCCCD;
  --background-color-cero: rgba(29, 39, 34, 0);
  --border: #7E6527 2px solid; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
}